<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{baseurl}}/css/styles.css">
  <title>{% if page.title %}{{page.title}}: {% endif %}Life's Prayerbook</title>
</head>
<body>
  <div id="bob" clas="header"><img src="{{baseurl}}/img/Banner.bmp" width="90%"></div>
  <div class="clearfix">
  <nav class="clearfix">
    <ol><a href="{{baseurl}}/index.html">Life's Prayerbook</a>
      <li><a href="{{baseurl}}/PrayersByDate.html">Prayers By Date</a>
    </ol>
  </nav>
    <div class="main">
      <h1>{{page.title}}</h1>
      {{content}}
      <section class="notes">
        <p>{% if page.author %}Author: {{page.author}}{% endif %}</p>
      </section>
    </div>
  </div>
  </body>
  </html>
