---
layout: default

---

{% capture posts %}
  {% for post in site.posts %}
    |{{ post.type }}#{{ post.title }}#{{ post.url }}
  {% endfor %}
{% endcapture %}

{% assign sortedposts = posts | split: '|' | sort %}
{% assign varType = "" %}

<ol><h1>{{title}}</h1>
{% for post in sortedposts %}
    {% assign postitems = post | split: '#' %}
    {% if postitems[0] != null %}

      {% if postitems[0] != varType %}
        {% assign varType = postitems[0] %}
        </ol>
        <ol><h1>{{postitems[0]}}</h1>
      {% endif %}

      <li><a href="{{site.baseurl}}{{ postitems[2] | strip }}">{{ postitems[1] }}</a></li>
    {% endif %}

{% endfor %}
</ol>
