---
layout: default
---


<ul><h1>{{title}}</h1>
{% capture posts %}
  {% for post in site.posts %}
    | {{ post.date }}#{{ post.title }}#{{ post.url }}
  {% endfor %}
{% endcapture %}

{% assign sortedposts = posts | split: '|' | sort | reverse %}
{% for post in sortedposts %}
    {% assign postitems = post | split: '#' %}
    {% if postitems[1] != null %}
      <li><a href="{{site.baseurl}}{{ postitems[2] }}">{{ postitems[0] | date_to_long_string }} {{ postitems[1] }}</a></li>
    {% endif %}
{% endfor %}
</ul>
