---
layout: default
---


<ul><h1>{{title}}</h1>
  <li><ul><h1>Adoration</h1>
    {% for post in site.posts %}
        {% if post.type contains "Adoration" %}
          <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
        {% endif %}
    {% endfor %}
  </ul></li>

  <li><ul><h1>Confession and atonement</h1>
      {% for post in site.posts %}
          {% if post.type contains "Confession and atonement" %}
            <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
          {% endif %}
      {% endfor %}
    </ul></li>

    <li><ul><h1>Petition</h1>
      {% for post in site.posts %}
          {% if post.type contains "Petition" %}
            <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
          {% endif %}
      {% endfor %}
    </ul></li>

    <li><ul><h1>Intercession</h1>
      {% for post in site.posts %}
          {% if post.type contains "Intercession" %}
            <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
          {% endif %}
      {% endfor %}
    </ul></li>

  <li><ul><h1>Declaration</h1>
    {% for post in site.posts %}
        {% if post.type contains "Declaration" %}
          <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
        {% endif %}
    {% endfor %}
  </ul></li>

  <li><ul><h1>Thanksgiving</h1>
    {% for post in site.posts %}
        {% if post.type contains "Thanksgiving" %}
          <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
        {% endif %}
    {% endfor %}
  </ul></li>

  <li><ul><h1>Refinement</h1>
    {% for post in site.posts %}
        {% if post.type contains "Refinement" %}
          <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
        {% endif %}
    {% endfor %}
  </ul></li>

  <li><ul><h1>Question</h1>
    {% for post in site.posts %}
        {% if post.type contains "Question" %}
          <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
        {% endif %}
    {% endfor %}
  </ul></li>

</ul>
